@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/leaflet/leaflet-src.js"></script>
<link href="~/css/leaflet.css" rel="stylesheet" />

<script src="~/js/drawing/Leaflet.draw.js"></script>
<script src="~/js/drawing/Leaflet.Draw.Event.js"></script>
<link href="~/js/drawing/leaflet.draw.css" rel="stylesheet" />

<script src="~/js/drawing/Toolbar.js"></script>
<script src="~/js/drawing/Tooltip.js"></script>

<script src="~/js/drawing/ext/GeometryUtil.js"></script>
<script src="~/js/drawing/ext/LatLngUtil.js"></script>
<script src="~/js/drawing/ext/LineUtil.Intersect.js"></script>
<script src="~/js/drawing/ext/Polygon.Intersect.js"></script>
<script src="~/js/drawing/ext/Polyline.Intersect.js"></script>
<script src="~/js/drawing/ext/TouchEvents.js"></script>

<script src="~/js/drawing/draw/DrawToolbar.js"></script>
<script src="~/js/drawing/draw/handler/Draw.Feature.js"></script>
<script src="~/js/drawing/draw/handler/Draw.SimpleShape.js"></script>
<script src="~/js/drawing/draw/handler/Draw.Polyline.js"></script>
<script src="~/js/drawing/draw/handler/Draw.Marker.js"></script>
<script src="~/js/drawing/draw/handler/Draw.Circle.js"></script>
<script src="~/js/drawing/draw/handler/Draw.CircleMarker.js"></script>
<script src="~/js/drawing/draw/handler/Draw.Polygon.js"></script>
<script src="~/js/drawing/draw/handler/Draw.Rectangle.js"></script>


<script src="~/js/drawing/edit/EditToolbar.js"></script>
<script src="~/js/drawing/edit/handler/EditToolbar.Edit.js"></script>
<script src="~/js/drawing/edit/handler/EditToolbar.Delete.js"></script>

<script src="~/js/drawing/Control.Draw.js"></script>

<script src="~/js/drawing/edit/handler/Edit.Poly.js"></script>
<script src="~/js/drawing/edit/handler/Edit.SimpleShape.js"></script>
<script src="~/js/drawing/edit/handler/Edit.Rectangle.js"></script>
<script src="~/js/drawing/edit/handler/Edit.Marker.js"></script>
<script src="~/js/drawing/edit/handler/Edit.CircleMarker.js"></script>
<script src="~/js/drawing/edit/handler/Edit.Circle.js"></script>

<script src="~/js/subgroup/subgroup.js"></script>

<script src="~/js/geocoder/control.geocoder.js"></script>
<link href="~/js/geocoder/control.geocoder.css" rel="stylesheet" />

<link href="~/js/hightlight/leaflet.marker.highlight.css" rel="stylesheet" />
<script src="~/js/hightlight/leaflet.marker.highlight.js"></script>

<div class="text-center" style="height: 590px; position:relative">
    <div id="GISMap" style="height: 570px;" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom">

    </div>
    <div style="position:absolute; right:0px; top:0px; height:100%;max-height: 570px;">
        <div id="panel">
            <div>
                <div class="row">
                    <hr />
                    <center><b><span style="color : white">SEARCH TOOL</span></b></center>
                    <div class="col-12" style="margin-top : 15px;">
                        <div class="custom-search">
                            <input type="text" class="custom-search-input" id="searchMap-typing" placeholder="Enter Name">
                            <button class="custom-search-botton" onclick="SearchFromMap()">Search</button>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-12" id="resultSearch" style="height:410px;overflow: auto;">

                    </div>
                </div>
            </div>

        </div>

        <div id='click' class="to-left">
            <img src="/Icon/icons8-search-30.png" style="margin-left : 5px" />
        </div>
    </div>
    <div class="loading-bar"></div>
</div>

<div class="modal fade" id="modal-marker" tabindex="-1" style="margin-top: 5%" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marker detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="container-modal-body-marker">
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="form-marker-input">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-polyline" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Polyline detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="container-modal-body-polyline" style="max-height: 500px;">

            </div>
            <div class="modal-footer" style="margin-top:30px;">
                <button type="submit" class="btn btn-primary" form="form-polyline-input">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-circle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cirlce detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="container-modal-body-circle">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="form-circle-input">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-polygon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Polygon detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="container-modal-body-polygon">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="form-polygon-input">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',

        osmAttrib = 'Bạn đang sử dụng <a href="http://openstreetmap.org/copyright">&copy; OpenStreet Map</a>',
        googleAttrib = 'Bạn đang sử dụng <a href="https://www.google.com/maps/">&copy; Google Map</a>',

        osm = L.tileLayer(osmUrl, {
            maxZoom: 19,
            minZoom: 2,
            attribution: osmAttrib
        });

    mapWord = L.tileLayer('https://api.maptiler.com/maps/streets/256/{z}/{x}/{y}.png?key=tE8RgRCdEojZFnaUYLB7', {
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        minZoom: 5
    });

    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
        maxZoom: 19,
        minZoom: 2,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        attribution: googleAttrib
    });

    //gmapGlobal = L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', { maxZoom: 20, attribution: googleAttrib }),
    // 'HTml element'
    map = new L.Map('GISMap', { center: new L.LatLng(21.028511, 105.804817), zoom: 14 });

    L.control.scale().addTo(map);

    var collectionLatLngsLocal = [];

    //Draw & edit tool
    var drawnItems = L.featureGroup().addTo(map);

    var geocoder = L.Control.geocoder({
        defaultMarkGeocode: false
    }).on('markgeocode', function (e) {
        var bbox = e.geocode.bbox;
        console.log(bbox);
        var poly = L.polygon([
            bbox.getSouthEast(),
            bbox.getNorthEast(),
            bbox.getNorthWest(),
            bbox.getSouthWest(),
        ]).addTo(map);

        //var middleLatlngs = poly.getBounds().getCenter();
        //map.flyTo(new L.LatLng(middleLatlngs.lat, middleLatlngs.lng));
        map.fitBounds(poly.getBounds());

        setTimeout(function () {
            map.removeLayer(poly);
        }, 5000);
    }).addTo(map);

    // #region Marker

    function EditFromMap(idMarker) {
        GetMarker(idMarker,0,0);
    }

    function Delete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "/Marker/DeleteMarker",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: {
                        id: id
                    },
                    success: function (response) {
                        var $response = response;
                        if ($response.Success) {
                            window[$response.Data.Type.MapName].eachLayer(function (layer) {
                                if (layer.options.id == $response.Data.ID) {
                                    window[$response.Data.Type.MapName].removeLayer(layer);
                                    drawnItems.removeLayer(layer);

                                    Toast.fire({
                                        icon: 'success',
                                        title: $response.Message
                                    })
                                    return;
                                }
                            });
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: $response.Message
                            })
                        }
                    }
                });
            }
        })
    }

    function GetMarker(id, lat, long) {
        let raw = {
            ID: id,
            Lat: 0,
            Long: 0
        };

        if (raw.ID == null || raw.ID == '') {
            raw.Lat = lat;
            raw.Long = long;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            url: "/Marker/GetMarker",
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success == true) {

                    $("#container-modal-body-marker").html("");
                    $("#container-modal-body-marker").html($response.Data);

                    $("#form-marker-input-typemarker").msDropdown({ roundedBorder: false });

                    SetValidFormMaker();

                    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-marker')) // Returns a Bootstrap modal instance
                    // Show or hide:
                    modal.show();
                }
                else {
                    alert('error when get geotdata');
                }
            }
        });
    }

    function SetValidFormMaker() {
        $('#form-marker-input').validate({
            ignore: "",
            rules: {
                "form-marker-input-typemarker": {
                    required: true,
                },
                "form-marker-input-name": {
                    required: true,
                }
            },
            messages: {
                "form-marker-input-typemarker": {
                    required: "Type marker is invalid",
                },
                "form-marker-input-name": {
                    required: "Name marker is invalid",
                }
            },
            invalidHandler: function (event, validator) {

            },
            submitHandler: function (form) {

                let model = {
                    ID: $('#form-marker-input-id').val(),
                    Name: $('#form-marker-input-name').val(),
                    Lat: $('#form-marker-input-lat').val(),
                    Long: $('#form-marker-input-long').val(),
                    TypeID: $('#form-marker-input-typemarker').val()
                }

                let url = '/Marker/UpdateInfor';
                if (model.ID == null || model.ID == '') {
                    url = '/Marker/Create';
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: JSON.stringify(model),
                    success: function (response) {
                        var $response = response;
                        if ($response.Success) {
                            if (url == '/Marker/Create') {
                                let MarkerInfo = L.Icon.extend({
                                    options: {
                                        //shadowUrl: '/images/marker-shadow.png',
                                        iconAnchor: new L.Point(L.Draw.constants.anchorSize, L.Draw.constants.anchorSize),
                                        iconSize: new L.Point(L.Draw.constants.iconSize, L.Draw.constants.iconSize),
                                        iconUrl: $response.Data.Type.Icon
                                    }
                                });

                                let CreateMarker = L.marker([$response.Data.Latitude, $response.Data.Longitude],
                                    {
                                        icon: new MarkerInfo(),
                                        id: $response.Data.ID
                                    }).bindPopup($response.Data.PopupContent);

                                window[$response.Data.Type.MapName].addLayer(CreateMarker);
                                drawnItems.addLayer(CreateMarker);

                                let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-marker'))
                                modal.hide();

                                Toast.fire({
                                    icon: 'success',
                                    title: $response.Message
                                })
                            }
                            else //Update case
                            {
                                window[$response.Data.OldMap].eachLayer(function (layer) {
                                    if (layer.options.id == $response.Data.Marker.ID) {

                                        window[$response.Data.OldMap].removeLayer(layer);
                                        drawnItems.removeLayer(layer);

                                        let MarkerInfo = L.Icon.extend({
                                            options: {
                                                iconAnchor: new L.Point(L.Draw.constants.anchorSize, L.Draw.constants.anchorSize),
                                                iconSize: new L.Point(L.Draw.constants.iconSize, L.Draw.constants.iconSize),
                                                iconUrl: $response.Data.Marker.Type.Icon
                                            }
                                        });

                                        let MarkerReplace = L.marker([$response.Data.Marker.Latitude, $response.Data.Marker.Longitude],
                                            {
                                                icon: new MarkerInfo(),
                                                id: $response.Data.Marker.ID
                                            }).bindPopup($response.Data.Marker.PopupContent);


                                        window[$response.Data.Marker.Type.MapName].addLayer(MarkerReplace);
                                        drawnItems.addLayer(MarkerReplace);
                                        return;
                                    }
                                });

                                Toast.fire({
                                    icon: 'success',
                                    title: $response.Message
                                })

                                let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-marker'))
                                modal.hide();
                            }
                        }
                        else {
                            Swal.fire({
                                title: 'Notification',
                                text: $response.Message,
                                icon: 'error',
                                confirmButtonText: 'Close'
                            });
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            title: 'Notification',
                            text: 'Error when call api controller',
                            icon: 'error',
                            confirmButtonText: 'Close'
                        });
                    }
                });
            }
        });
    }

    function UpdateLocationMarker(raw) {
        $.ajax({
            type: "POST",
            url: "Marker/UpdateLocation",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success) {
                    Toast.fire({
                        icon: 'success',
                        title: $response.Message
                    });
                }
                else {
                    Swal.fire({
                        title: 'Notification',
                        text: $response.Message,
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    title: 'Notification',
                    text: 'Error when call api controller',
                    icon: 'error',
                    confirmButtonText: 'Close'
                });
            }
        });
    }

    // #endregion Marker

    // #region Polyline
    function EditPolyline(idPolyline) {
        GetPolyline(idPolyline, null, null);
    }


    function GetPolyline(id, arrLatLngs, length) {

        let raw = {
            ID: id,
            CablineLength: '',
            LatLongs: []
        };

        if (raw.ID == null || raw.ID == '') {
            raw.CablineLength = length;
            raw.LatLongs = arrLatLngs;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            url: "/Polyline/GetPolyline",
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success == true) {

                    $("#container-modal-body-polyline").html("");
                    $("#container-modal-body-polyline").html($response.Data);

                    $("#form-polyline-input-type").msDropdown({ roundedBorder: false });

                    collectionLatLngsLocal = arrLatLngs;

                    SetValidFormPolyline();

                    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-polyline'))
                    modal.show();
                }
                else {
                    alert('error when get geotdata');
                }
            }
        });
    }

    function SetValidFormPolyline() {
        $('#form-polyline-input').validate({
            ignore: "",
            rules: {
                "form-polyline-input-type": {
                    required: true,
                },
                "form-polyline-input-name": {
                    required: true,
                }
            },
            messages: {
                "form-polyline-input-type": {
                    required: "Type Polyline is invalid",
                },
                "form-polyline-input-name": {
                    required: "Name marker is invalid",
                }
            },
            invalidHandler: function (event, validator) {

            },
            submitHandler: function (form) {
                let model = {
                    ID: $('#form-polyline-input-id').val(),
                    Name: $('#form-polyline-input-name').val(),
                    CablineLength: $('#form-polyline-input-length').val(),
                    TypeID: $('#form-polyline-input-type').val(),
                    LatLongs : collectionLatLngsLocal
                }

                let url = '/Polyline/UpdateInfor';
                if (model.ID == null || model.ID == '') {
                    url = '/Polyline/Create';
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: JSON.stringify(model),
                    success: function (response) {
                        var $response = response;
                        if ($response.Success) {
                            if (url == '/Polyline/Create') 
                            {
                                let inforPolyline = {
                                    color: $response.Data.ColorLine,
                                    weight: $response.Data.WeightLine,
                                    id : $response.Data.ID
                                };

                                var polyline = L.polyline([$response.Data.LatLongs], inforPolyline);

                                polyline.bindPopup($response.Data.PopupContent);

                                window[$response.Data.MapName].addLayer(polyline);
                                drawnItems.addLayer(polyline);

                                let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-polyline'))
                                modal.hide();

                                Toast.fire({
                                   icon: 'success',
                                   title: $response.Message
                                });
                                collectionLatLngsLocal = [];
                            }
                            else //Update case
                            {
                                if ($response.Data.Polyline.MapName == $response.Data.OldMapLayer) //Not change type . only need change popup
                                {
                                    window[$response.Data.Polyline.MapName].eachLayer(function (layer) {
                                        if (layer.options.id == $response.Data.Polyline.ID) {
                                            layer.bindPopup($response.Data.Polyline.PopupContent);
                                            return;
                                        }
                                    });

                                    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-polyline'))
                                    modal.hide();

                                    Toast.fire({
                                        icon: 'success',
                                        title: $response.Message
                                    });
                                }
                                else //Remove old layer & replace
                                {
                                    window[$response.Data.OldMapLayer].eachLayer(function (layer) {
                                        if (layer.options.id == $response.Data.Polyline.ID) {
                                            window[$response.Data.OldMapLayer].removeLayer(layer);
                                            drawnItems.removeLayer(layer);
                                            return;
                                        }
                                    });

                                    //Replace Layer
                                    let InforPolyline = {
                                        color: $response.Data.Polyline.ColorLine,
                                        weight: $response.Data.Polyline.WeightLine,
                                        id : $response.Data.Polyline.ID
                                    };

                                    let polyline = L.polyline([$response.Data.Polyline.LatLongs], InforPolyline);

                                    polyline.bindPopup($response.Data.Polyline.PopupContent);

                                    window[$response.Data.Polyline.MapName].addLayer(polyline);
                                    drawnItems.addLayer(polyline);

                                    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-polyline'))
                                    modal.hide();

                                    Toast.fire({
                                        icon: 'success',
                                        title: $response.Message
                                    });

                                }
                                collectionLatLngsLocal = [];
                            }
                        }
                        else {
                            Swal.fire({
                                title: 'Notification',
                                text: $response.Message,
                                icon: 'error',
                                confirmButtonText: 'Close'
                            });
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            title: 'Notification',
                            text: 'Error when call api controller',
                            icon: 'error',
                            confirmButtonText: 'Close'
                        });
                    }
                });
            }
        });
    }

    function DeletePolyline(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "/Polyline/DeletePolyline",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: {
                        id: id
                    },
                    success: function (response) {
                        var $response = response;
                        if ($response.Success) {
                            window[$response.Data.MapName].eachLayer(function (layer) {
                                if (layer.options.id == $response.Data.ID) {
                                    window[$response.Data.MapName].removeLayer(layer);
                                    drawnItems.removeLayer(layer);
                                    return;
                                }
                            });

                            Toast.fire({
                                icon: 'success',
                                title: $response.Message
                            });
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: $response.Message
                            })
                        }
                    }
                });
            }
        })
    }

    function UpdateLocationPolyline(raw) {
        $.ajax({
            type: "POST",
            url: "Polyline/UpdateLocation",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success) {

                    window[$response.Data.MapName].eachLayer(function (layer) {
                        if (layer.options.id == $response.Data.ID) {
                            layer.bindPopup($response.Data.PopupContent);
                            return;
                        }
                    });

                    Toast.fire({
                        icon: 'success',
                        title: $response.Message
                    });
                }
                else {
                    Swal.fire({
                        title: 'Notification',
                        text: $response.Message,
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    title: 'Notification',
                    text: 'Error when call api controller',
                    icon: 'error',
                    confirmButtonText: 'Close'
                });
            }
        });
    }

    // #endregion Polyline

    // #region Cirlce

    function GetCircle(id, lat, long , radius , callBack) {
        let raw = {
            ID: id,
            Latitude: 0,
            Longitude: 0,
            Radius: 0
        };

        if (raw.ID == null || raw.ID == '') {
            raw.Latitude = lat;
            raw.Longitude = long;
            raw.Radius = radius;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            url: "/Circle/GetCircle",
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success == true) {

                    $("#container-modal-body-circle").html("");
                    $("#container-modal-body-circle").html($response.Data);
                    SetValidFormCircle(callBack);

                    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-circle'));
                    modal.show();
                }
                else {
                    alert('error when get data');
                }
            }
        });
    }

    ///Use after Save cirlce to get option info
    function GetCircleInstance(layer) {
        return layer;
    }

    function EditCircle(id)
    {
        GetCircle(id, null, null, null, null);
    }

    function SetValidFormCircle(callBack) {
        $('#form-circle-input').validate({
            ignore: "",
            rules: {
                "form-circle-input-name": {
                    required: true,
                },
                "form-circle-input-color-weight-border": {
                    required: true,
                },
                "form-circle-input-opacity": {
                    required: true,
                },
                "form-circle-input-fill-opacity": {
                    required: true,
                }
            },
            messages: {
                "form-circle-input-name": {
                    required: "Name circle is invalid",
                },
                "form-circle-input-color-weight-border": {
                    required: "weight border circle is invalid",
                },
                "form-circle-input-opacity": {
                    required: "opacity circle is invalid",
                },
                "form-circle-input-fill-opacity": {
                    required: "opacity fill circle is invalid",
                },
            },
            invalidHandler: function (event, validator) {

            },
            submitHandler: function (form) {

                let model = {
                    ID: $('#form-circle-input-id').val(),
                    Name: $('#form-circle-input-name').val(),
                    Latitude: $('#form-circle-input-lat').val(),
                    Longitude: $('#form-circle-input-long').val(),
                    WeightBorder: $('#form-circle-input-color-weight-border').val(),
                    Radius: $('#form-circle-input-radius').val(),
                    ColorCircle:$('#form-circle-input-color-circle').val(),
                    FillColor :$('#form-circle-input-fill-color').val(),
                    Opacity :$('#form-circle-input-opacity').val(),
                    FillOpacity :$('#form-circle-input-fill-opacity').val()
                }

                let url = '/Circle/UpdateInfor';
                if (model.ID == null || model.ID == '') {
                    url = '/Circle/Create';
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: JSON.stringify(model),
                    success: function (response) {
                        debugger;
                        var $response = response;
                        if ($response.Success) {
                            if (url == '/Circle/Create') {

                                let inforCircle = callBack;
                                inforCircle.id = $response.Data.ID;
                                inforCircle.color = $response.Data.ColorCircle;
                                inforCircle.opacity = $response.Data.Opacity;
                                inforCircle.weight = $response.Data.WeightBorder;
                                inforCircle.fillColor = $response.Data.FillColor;
                                inforCircle.fillOpacity = $response.Data.FillOpacity;

                                if($response.Data.Type == 'Circle') {
                                    let cirlce = L.circle([$response.Data.Latitude,$response.Data.Longitude], inforCircle);
                                    cirlce.bindPopup($response.Data.PopupContent);
                                    window[$response.Data.MapLayer].addLayer(cirlce);
                                    drawnItems.addLayer(cirlce);
                                }
                                else {
                                    let cirlceMarker = L.circleMarker([$response.Data.Latitude,$response.Data.Longitude], inforCircle);
                                    cirlceMarker.bindPopup($response.Data.PopupContent);
                                    window[$response.Data.MapLayer].addLayer(cirlceMarker);
                                    drawnItems.addLayer(cirlceMarker);
                                }
                            }
                            else //Update case
                            {
                                window[$response.Data.MapLayer].eachLayer(function (layer) {
                                    if (layer.options.id == $response.Data.ID) {
                                        layer.options.color = $response.Data.ColorCircle;
                                        layer.options.opacity = $response.Data.Opacity;
                                        layer.options.weight = $response.Data.WeightBorder;
                                        layer.options.fillColor = $response.Data.FillColor;
                                        layer.options.fillOpacity = $response.Data.FillOpacity;
                                        layer.bindPopup($response.Data.PopupContent);

                                        let cloneReplace = layer; //because for some reason changing the options doesn't work

                                        window[$response.Data.MapLayer].removeLayer(layer); //Remove old 
                                        drawnItems.removeLayer(layer);

                                        window[$response.Data.MapLayer].addLayer(cloneReplace); //Add clone
                                        drawnItems.addLayer(cloneReplace);

                                        return;
                                    }
                                });
                            }

                            Toast.fire({
                                    icon: 'success',
                                    title: $response.Message
                            });

                            let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-circle'))
                            modal.hide();
                        }
                        else {
                            Swal.fire({
                                title: 'Notification',
                                text: $response.Message,
                                icon: 'error',
                                confirmButtonText: 'Close'
                            });
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            title: 'Notification',
                            text: 'Error when call api controller',
                            icon: 'error',
                            confirmButtonText: 'Close'
                        });
                    }
                });
            }
        });
    }

    function UpdateLocationCircle(raw) {
        $.ajax({
            type: "POST",
            url: "Circle/UpdateLocation",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success) {

                    if(!$response.Data.IsCircleMarker) //Bind popup circle
                    {
                        window[$response.Data.MapLayer].eachLayer(function (layer) {
                            if (layer.options.id == $response.Data.ID) {
                                layer.bindPopup($response.Data.PopupContent);
                                return;
                            }
                        });
                    }

                    Toast.fire({
                        icon: 'success',
                        title: $response.Message
                    });
                }
                else {
                    Swal.fire({
                        title: 'Notification',
                        text: $response.Message,
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    title: 'Notification',
                    text: 'Error when call api controller',
                    icon: 'error',
                    confirmButtonText: 'Close'
                });
            }
        });
    }

    function DeleteCircle(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "/Circle/DeleteCircle",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: {
                        id: id
                    },
                    success: function (response) {
                        var $response = response;
                        if ($response.Success) {
                            window[$response.Data.MapLayer].eachLayer(function (layer) {
                                if (layer.options.id == $response.Data.ID) {
                                    window[$response.Data.MapLayer].removeLayer(layer);
                                    drawnItems.removeLayer(layer);
                                    Toast.fire({
                                        icon: 'success',
                                        title: $response.Message
                                    })
                                    return;
                                }
                            });
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: $response.Message
                            })
                        }
                    }
                });
            }
        })
    }

    // #endregion Circle

    // #region Polygon

    function GetPolygon(id, arrLatLngs, layerInfo) {
        debugger;
        let raw = {
            ID: id,
            LatLongs: [],
            Color : '',
            Opacity : 0,
            WeightBorder : 0,
            FillColor : '',
            FillOpacity : 0
        };

        if (raw.ID == null || raw.ID == '') {
            raw.LatLongs = arrLatLngs;
            raw.Color = layerInfo.color;
            raw.Opacity =  layerInfo.opacity;
            raw.WeightBorder = layerInfo.weight;
            raw.FillColor = layerInfo.fillColor;
            raw.FillOpacity = layerInfo.fillOpacity;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            url: "/Polygon/GetPolygon",
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success == true) {

                    $("#container-modal-body-polygon").html("");
                    $("#container-modal-body-polygon").html($response.Data.Html);

                    collectionLatLngsLocal = $response.Data.LatLongs;

                    SetValidFormPolygon();

                    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-polygon'))
                    modal.show();
                }
                else {
                    Toast.fire({
                         icon: 'error',
                         title: $response.Message
                    })
                }
            }
        });
    }

    function SetValidFormPolygon()
    {
        $('#form-polygon-input').validate({
            ignore: "",
            rules: {
                "form-polygon-input-name": {
                    required: true,
                },
                "form-polygon-input-color": {
                    required: true,
                },
                "form-polygon-input-weight-border": {
                    required: true,
                },
                "form-polygon-input-opacity": {
                    required: true,
                },
                "form-polygon-input-fill-color": {
                    required: true,
                },
                "form-polygon-input-fill-opacity": {
                    required: true,
                }
            },
            messages: {
                "form-polygon-input-name": {
                    required: "Name circle is invalid",
                },
                "form-polygon-input-color": {
                    required: "Color border is invalid",
                },
                "form-polygon-input-weight-border": {
                    required: "Weight border is invalid",
                },
                "form-polygon-input-opacity": {
                    required: "opacity is invalid",
                },
                "form-polygon-input-fill-color": {
                    required: "Fill color is invalid",
                },
                "form-polygon-input-fill-opacity": {
                    required: "Fill opacity is invalid",
                }
            },
            invalidHandler: function (event, validator) {

            },
            submitHandler: function (form) {

                let model = {
                    ID: $('#form-polygon-input-id').val(),
                    Name: $('#form-polygon-input-name').val(),
                    WeightBorder: $('#form-polygon-input-weight-border').val(),
                    Color: $('#form-polygon-input-color').val(),
                    FillColor: $('#form-polygon-input-fill-color').val(),
                    Opacity: $('#form-polygon-input-opacity').val(),
                    FillOpacity: $('#form-polygon-input-fill-opacity').val(),
                    LatLongs : collectionLatLngsLocal
                }

                let url = '/Polygon/UpdateInfor';
                if (model.ID == null || model.ID == '') {
                    url = '/Polygon/Create';
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: JSON.stringify(model),
                    success: function (response) {
                        debugger;
                        var $response = response;
                        if ($response.Success) {
                            if (url == '/Polygon/Create') {
                                let inforPolygon = {
                                    id : $response.Data.ID,
                                    color : $response.Data.Color,
                                    opacity : $response.Data.Opacity,
                                    weight : $response.Data.WeightBorder,
                                    fillColor : $response.Data.FillColor,
                                    fillOpacity : $response.Data.FillOpacity
                                };
                                let polygon = L.polygon([$response.Data.LatLngs], inforPolygon);
                                polygon.bindPopup($response.Data.PopupContent);
                                window[$response.Data.MapLayer].addLayer(polygon);
                                drawnItems.addLayer(polygon);
                            }
                            else //Update case
                            {
                                window[$response.Data.MapLayer].eachLayer(function (layer) {
                                    if (layer.options.id == $response.Data.ID) {
                                        layer.options.color = $response.Data.Color;
                                        layer.options.opacity = $response.Data.Opacity;
                                        layer.options.weight = $response.Data.WeightBorder;
                                        layer.options.fillColor = $response.Data.FillColor;
                                        layer.options.fillOpacity = $response.Data.FillOpacity;
                                        layer.bindPopup($response.Data.PopupContent);

                                        let cloneReplace = layer; //because for some reason changing the options doesn't work

                                        window[$response.Data.MapLayer].removeLayer(layer); //Remove old
                                        drawnItems.removeLayer(layer);

                                        window[$response.Data.MapLayer].addLayer(cloneReplace); //Add clone
                                        drawnItems.addLayer(cloneReplace);

                                        return;
                                    }
                                });
                            }

                            Toast.fire({
                                icon: 'success',
                                title: $response.Message
                            });

                            let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modal-polygon'))
                            modal.hide();
                        }
                        else {
                            Swal.fire({
                                title: 'Notification',
                                text: $response.Message,
                                icon: 'error',
                                confirmButtonText: 'Close'
                            });
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            title: 'Notification',
                            text: 'Error when call api controller',
                            icon: 'error',
                            confirmButtonText: 'Close'
                        });
                    }
                });
            }
        });
    }

    function EditPolygon(id) {
        GetPolygon(id, null, null);
    }

    function UpdateLocationPolygon(raw) {
        $.ajax({
            type: "POST",
            url: "Polygon/UpdateLocation",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            data: JSON.stringify(raw),
            success: function (response) {
                var $response = response;
                if ($response.Success) {

                    window[$response.Data.OldLayer].eachLayer(function (layer) {
                        if (layer.options.id == $response.Data.Polygon.ID) {
                            
                            layer.bindPopup($response.Data.Polygon.PopupContent);

                            let cloneReplace = layer;

                            window[$response.Data.OldLayer].removeLayer(layer); //Remove old
                            drawnItems.removeLayer(layer);

                            window[$response.Data.Polygon.MapLayer].addLayer(cloneReplace); //Add clone
                            drawnItems.addLayer(cloneReplace);

                            return;
                        }
                    });

                    Toast.fire({
                        icon: 'success',
                        title: $response.Message
                    });
                }
                else {
                    Swal.fire({
                        title: 'Notification',
                        text: $response.Message,
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    title: 'Notification',
                    text: 'Error when call api controller',
                    icon: 'error',
                    confirmButtonText: 'Close'
                });
            }
        });
    }

    function DeletePolygon(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "/Polygon/DeletePolygon",
                    beforeSend: function () {
                        $(".loading-bar").show();
                    },
                    complete: function () {
                        $(".loading-bar").hide();
                    },
                    data: {
                        id: id
                    },
                    success: function (response) {
                        var $response = response;
                        if ($response.Success) {
                            window[$response.Data.MapLayer].eachLayer(function (layer) {
                                if (layer.options.id == $response.Data.ID) {
                                    window[$response.Data.MapLayer].removeLayer(layer);
                                    drawnItems.removeLayer(layer);
                                    Toast.fire({
                                        icon: 'success',
                                        title: $response.Message
                                    })
                                    return;
                                }
                            });
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: $response.Message
                            })
                        }
                    }
                });
            }
        })
    }

    // #endregion Polygon

    function getLayerType(layer) {
        var layerType = "";

        if (layer instanceof L.Marker) {
            layerType = "Marker";
        }
        else if (layer instanceof L.Polygon) {
            layerType = "Polygon";
        }
        else if (layer instanceof L.Polyline) {
            layerType = "Polyline";
        }
        else if (layer instanceof L.Circle) {
            layerType = "Circle";
        }
        else if (layer instanceof L.CircleMarker) {
            layerType = "CircleMarker";
        }
        return layerType;
    };

    function distance(latlngs) {
        var tempLatLng = null;
        var totalDistance = 0.00000;
        var distanceStr;
        $.each(latlngs, function (i, latlng) {
            if (tempLatLng == null) {
                tempLatLng = latlng;
                return;
            }
            totalDistance += tempLatLng.distanceTo(latlng);
            tempLatLng = latlng;
        });

        if (totalDistance > 1000) {
            distanceStr = formattedNumber(totalDistance / 1000, 2) + ' km';
        } else {
            distanceStr = formattedNumber(totalDistance, 0) + ' m';
        }

        return distanceStr;
    };


    function formattedNumber(n, precision) {
        var formatted = parseFloat(n).toFixed(precision),
            format = L.drawLocal.format && L.drawLocal.format.numeric,
            delimiters = format && format.delimiters,
            thousands = delimiters && delimiters.thousands,
            decimal = delimiters && delimiters.decimal;
        if (thousands || decimal) {
            var splitValue = formatted.split('.');
            formatted = thousands ? splitValue[0].replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1' + thousands) : splitValue[0];
            decimal = decimal || '.';
            if (splitValue.length > 1) {
                formatted = formatted + decimal + splitValue[1];
            }
        }
        return formatted;
    };

    function SearchFromMap() {
        let word = $("#searchMap-typing").val();
        if(word == null || word == '') {
            Toast.fire({
                icon: 'error',
                title: 'Please enter a search keyword'
            });
            let targetDiv = $('#resultSearch');
            targetDiv.empty();
            return;
        }
        $.ajax({
            type: "GET",
            url: "/Geo/SearchGeoData",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            data: {
                keyWord: word
            },
            success: function (response) {
                var $response = response;
                if ($response.Success == true) {
                    let targetDiv = $('#resultSearch');
                    targetDiv.empty();
                    targetDiv.html($response.Data);
                }
                else {
                    toastr.error($response.Message);
                }
            }
        });
    }

    function fly(id ,lat, long, mapLayer) {
        map.flyTo([lat, long], 15);
        window[mapLayer].eachLayer(function (layer) {
            if (layer.options.id == id) {
               layer.openPopup();
                return;
            }
        });
    }

    window.onload = function () {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                $(".loading-bar").show();
            },
            complete: function () {
                $(".loading-bar").hide();
            },
            url: "/Geo/GetGeoData",
            success: function (response) {
                var $response = response;
                if ($response.Success == true) {
                    debugger;
                    let Types = $response.Data.TypeMaps;

                    let paramsJson = {

                    };
                    for (var i = 0; i < Types.length; i++) {
                        //create variable with regist featuremap
                        paramsJson[Types[i].Name] = window[Types[i].MapName] = L.featureGroup.subGroup(drawnItems).addTo(map);
                    }

                    L.control.layers({
                        "Google Map": googleStreets.addTo(map),
                        "OpenStreet Map": osm,
                        "The free size map": mapWord
                    }, paramsJson, { position: 'topleft', collapsed: false }).addTo(map);

                    map.addControl(new L.Control.Draw({
                        edit: {
                            featureGroup: drawnItems,
                            remove: false,
                            poly: {
                                allowIntersection: false
                            }
                        },
                        draw: {
                            polygon: {
                                allowIntersection: false,
                                showArea: true
                            },
                            polyline: {
                                shapeOptions: {
                                    color: '#04B431',
                                    weight: 5,
                                }
                            }
                        },
                    }));

                    map.on(L.Draw.Event.CREATED, function (event) {
                        debugger;
                        var layer = event.layer,
                            layerType = getLayerType(layer);

                        if (layerType === 'Marker') {
                            var data = {
                                LatLngs: [layer._latlng]
                            };

                            GetMarker('', data.LatLngs[0].lat, data.LatLngs[0].lng);
                        }
                        else if (layerType === 'Polyline') {
                            let lengthCabline = distance(layer._latlngs);
                            
                            GetPolyline('', layer._latlngs, lengthCabline);
                        }
                        else if (layerType === 'Polygon') 
                        {
                            let area = L.GeometryUtil.geodesicArea(layer._latlngs[0]);
                            let length = distance(layer._latlngs[0]);
                            GetPolygon('', layer._latlngs[0], layer.options);
                        }
                        else if (layerType === 'Circle') 
                        {
                            let InforCircle = layer.options;
                            GetCircle('', layer._latlng.lat, layer._latlng.lng, InforCircle.radius, GetCircleInstance(InforCircle));
                        }
                        else if (layerType === 'CircleMarker') 
                        {
                            let inforCircleMarker = layer.options;
                            GetCircle('', layer._latlng.lat, layer._latlng.lng, 'NaN', GetCircleInstance(inforCircleMarker))
                        }

                        console.log('Created layer:', layer);
                        console.log('Type: ', layerType);

                    });


                    map.on(L.Draw.Event.EDITED, function (event) {
                        Object.values(event.layers._layers).forEach(function (item) {
                            debugger;
                            let layer = item.editing;

                            if (typeof layer._marker !== 'undefined')  //Marker
                            {
                                let latLng = Object.values(event.layers._layers)[0]._latlng;
                                let idMarker = Object.values(event.layers._layers)[0].options.id;

                                let raw = {
                                    ID: idMarker,
                                    Lat: latLng.lat,
                                    Long: latLng.lng
                                };
                                UpdateLocationMarker(raw)
                            }
                            else if (typeof layer._poly !== 'undefined') {
                                if(getLayerType(layer._poly) == 'Polyline') {
                                    let idPolyline = layer._poly.options.id;
                                    let latLngs = layer._poly._latlngs;

                                    let centralLatlngs = layer._poly.getBounds().getCenter().lat + ',' + layer._poly.getBounds().getCenter().lng;
                                    let lengthCabline = distance(latLngs[0]);
                                    let raw = {
                                        ID: idPolyline,
                                        CablineLength: lengthCabline,
                                        LatLongs: latLngs[0]
                                    };

                                    UpdateLocationPolyline(raw);
                                }
                                else if(getLayerType(layer._poly) == 'Polygon') {

                                    let id = layer._poly.options.id;
                                    let latLngs = layer._poly._latlngs[0];

                                    let raw = {
                                        ID: id,
                                        LatLongs: latLngs
                                    };

                                    UpdateLocationPolygon(raw);
                                }
                            }
                            else if(getLayerType(layer._shape) == 'CircleMarker') {

                                let raw = {
                                    ID: item.options.id,
                                    Latitude : item._latlng.lat,
                                    Longitude: item._latlng.lng,
                                    Radius : 0
                                };

                                UpdateLocationCircle(raw);
                            }
                            else if(getLayerType(layer._shape) == 'Circle') {

                                let raw = {
                                    ID: item.options.id,
                                    Latitude : item._latlng.lat,
                                    Longitude: item._latlng.lng,
                                    Radius: item._mRadius
                                };

                                UpdateLocationCircle(raw);
                            }
                        });
                    });

                    //Markers
                    var Arr = $response.Data.Markers;
                    for (i = 0; i < Arr.length; i++) {

                        var MarkerDefine = L.Icon.extend({
                            options: {
                                iconAnchor: new L.Point(L.Draw.constants.anchorSize, L.Draw.constants.anchorSize),
                                iconSize: new L.Point(L.Draw.constants.iconSize, L.Draw.constants.iconSize),
                                iconUrl: Arr[i].IconType
                            },
                        });

                        var mker = L.marker([Arr[i].Lat, Arr[i].Long], { icon: new MarkerDefine(),id : Arr[i].ID });
                        mker.bindPopup(Arr[i].PopupContent);
                        window[Arr[i].MapName].addLayer(mker);

                        drawnItems.addLayer(mker);
                    }

                    //Polylines
                    var ArrCabline = $response.Data.Polylines;
                    for (i = 0; i < ArrCabline.length; i++) 
                    {
                        let InforCabline = {
                            color: ArrCabline[i].ColorLine,
                            weight: ArrCabline[i].WeightLine,
                            id : ArrCabline[i].ID
                        };

                        let polyline = L.polyline([ArrCabline[i].LatLongs], InforCabline);

                        polyline.bindPopup(ArrCabline[i].PopupContent);
                        window[ArrCabline[i].MapName].addLayer(polyline);
                        drawnItems.addLayer(polyline);
                    }

                    var ArrCircles = $response.Data.Circles;
                    for (i = 0; i < ArrCircles.length; i++) 
                    {
                        let inforCircle = {
                            id : ArrCircles[i].ID,
                            color : ArrCircles[i].ColorCircle,
                            opacity : ArrCircles[i].Opacity,
                            weight : ArrCircles[i].WeightBorder,
                            fillColor : ArrCircles[i].FillColor,
                            fillOpacity : ArrCircles[i].FillOpacity,
                            radius : ArrCircles[i].Radius
                        }
                        
                        let cirlce = L.circle([ArrCircles[i].Latitude,ArrCircles[i].Longitude], inforCircle);
                        cirlce.bindPopup(ArrCircles[i].PopupContent);
                        window[ArrCircles[i].MapLayer].addLayer(cirlce);
                        drawnItems.addLayer(cirlce);
                    }


                    var ArrCircleMarkers = $response.Data.CircleMarkers;
                    for (i = 0; i < ArrCircleMarkers.length; i++) 
                    {
                        let infor = {
                            id : ArrCircleMarkers[i].ID,
                            color : ArrCircleMarkers[i].ColorCircle,
                            opacity : ArrCircleMarkers[i].Opacity,
                            weight : ArrCircleMarkers[i].WeightBorder,
                            fillColor : ArrCircleMarkers[i].FillColor,
                            fillOpacity : ArrCircleMarkers[i].FillOpacity
                        }
                        
                        let cirlceMarker = L.circleMarker([ArrCircleMarkers[i].Latitude,ArrCircleMarkers[i].Longitude], infor);
                        cirlceMarker.bindPopup(ArrCircleMarkers[i].PopupContent);
                        window[ArrCircleMarkers[i].MapLayer].addLayer(cirlceMarker);
                        drawnItems.addLayer(cirlceMarker);
                    }

                    var ArrPolygons = $response.Data.Polygons;
                    for (i = 0; i < ArrPolygons.length; i++) 
                    {
                        let inforPolygon = {
                            id : ArrPolygons[i].ID,
                            color : ArrPolygons[i].Color,
                            opacity : ArrPolygons[i].Opacity,
                            weight : ArrPolygons[i].WeightBorder,
                            fillColor : ArrPolygons[i].FillColor,
                            fillOpacity : ArrPolygons[i].FillOpacity
                        }
                        
                        let polygon = L.polygon([ArrPolygons[i].LatLongs], inforPolygon);
                        polygon.bindPopup(ArrPolygons[i].PopupContent);
                        window[ArrPolygons[i].MapLayer].addLayer(polygon);
                        drawnItems.addLayer(polygon);
                    }
                }
                else {
                    alert('error when get geotdata');
                }
            }
        });
    }
</script>